.overlay {
  margin: 1em auto;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0.1em;
  position: relative;
  width: 80%;
  color: #024457;
  font-family: Arial;
  z-index: 1001;
  background: #f2f7f7;
  font-size: 1.3em;
}

.overlay .close {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 30px;
  height: 30px;
  content: "";
  background-color: white;
  border: solid lightgrey 1px;
  border-radius: 50%;
}

.overlay .close:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  border: solid white 2px;
  width: 26px;
  height: 26px;
  top: 0px;
  left: 0px;
}

.overlay .close:after {
  position: absolute;
  content: "X";
  font-family: "Tahoma Bold","Calibri Bold","Arial Black","Arial Bold",helvetica,"Lucida Sans","Trebuchet MS",sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.overlay .close.nw_red {
  top: 1%;
  left: 90%;
  right: auto;
  border: solid #AD1F1F 2px;
  background-color: #BC1B12;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.overlay .close.nw_red:before {
  background-color: #BC1B12;
  background: linear-gradient(to bottom, #ED3221 0%, #BC1B12 100%);
  border: none;
  height: 27px;
  width: 28px;
}

.react-calendar {
  display:inline;
  position: relative;
  padding-top:0px;
  margin-top:0px;
  padding-bottom: 25px;
}